<h2>Cocktail</h2>

<div>
<em>Name : </em> <%= @cocktail.name %>
</div>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <h4><%= dose.description %> cl of <%= dose.ingredient.name %></h4>
    </li>
  <% end %>
</ul>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :description, label: 'Dose, en cl' %>
    <%= f.association :ingredient %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', cocktails_path %>

  <% if @cocktail.photo.present? %>
    <%= cl_image_tag @cocktail.photo,
      width: 400, height: 300, crop: :fill %>
  <% else %>
      <%= image_tag("ginto.jpg",
      width: 260, height: 300, crop: :fill) %>
  <% end %>





















